.App {
  text-align: center;
  background-color: whitesmoke;
}

#search {
  width: 20vw;
  height: 5px;
}

.App-logo {
  height: 20vmin;
}

.errorMessage {
  color: #d8000c;
  font-style: italic;
}

/* title */
.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom {
  font-size: 1.2em;
}

/* price */
.MuiTypography-root.MuiTypography-body2.MuiTypography-colorTextSecondary {
  color: black;
}